services:
  app:
    #build: .
    container_name: node_app
    image: petabait/multi-container-service-app:latest
    restart: unless-stopped
    ports:
      - "3000:3000" 
    depends_on:
      - mongodb

  mongodb:
    container_name: mongo
    image: mongo:latest
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - ./mongo:/data/db 

